# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
__debug_bin*

# Test binary, built with `go test -c`
*.test

# TLS keys
*.pem

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Binaries
cmd/shortener/main
cmd/shortener/shortener

# Local storage file
cmd/shortener/file_storage.NDJSON
cmd/shortener/*_test.txt

# Dependency directories (remove the comment below to include it)
vendor/

# IDEs directories
.idea
.vscode
